<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Panth_NotificationBar::group"
             title="Notification Bar"
             module="Panth_NotificationBar"
             sortOrder="35"
             parent="Panth_Core::panth_extensions"
             resource="Panth_NotificationBar::manage"/>
        <add id="Panth_NotificationBar::manage_bars"
             title="Manage Bars"
             module="Panth_NotificationBar"
             sortOrder="10"
             parent="Panth_NotificationBar::group"
             action="panth_notificationbar/bar/index"
             resource="Panth_NotificationBar::manage"/>
        <add id="Panth_NotificationBar::settings"
             title="Configuration"
             module="Panth_NotificationBar"
             sortOrder="20"
             parent="Panth_NotificationBar::group"
             action="adminhtml/system_config/edit/section/panth_notification_bar"
             resource="Panth_NotificationBar::config"/>
    </menu>
</config>
